<configuration>

   <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
   <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

   <logger name="com.learning.spring" level="info"/>

   <root level="ERROR">
      <appender-ref ref="CONSOLE" />
   </root>

</configuration>
